<div class="row">
  <div class="span10 offset1">
    <form class="well form-inline">
      <input id="keyword" type="text" class="input-big" placeholder="Key Word" value="<%= @keyword %>"/>
      <button id="refresh" class="btn btn-primary" onclick="return false;">Refresh</button>
      <label class="offset1"><b>Wall Control Panel</b></label>
      <div class="pull-right">
        <button id="auto" class="btn btn-success" onclinck="return false;">Start</button>
        <label> Auto refresh by </label>
        <input type="text" class="input-small" placeholder="Secends" />
      </div>
    </form>
  </div>
</div>

<div class="row">
<div class="span5 offset1">
  <div id="source-header"></div>
  <div id="source-wall">
    <dl></dl>
  </div>
</div>

<div class="span5 offset0">
  <div id="censor-header"></div>
  <div id="censor-wall">
    <dl></dl>
  </div>
</div>
</div>

<div class="modal hide fade in" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Thanks For You Visit</h3>
  </div>
  <div class="modal-body">
    <p>Welcome to my App</p>
    <p>Usage: enter the keyword then click the refresh button to fetch the most recent tweets from weibo.com related to the given keyword. click the item on the left to move which to the right side. click an item on the right side to dismiss it.</p>
    <p>If you like this App, please contact me by email: dongqs AT gmail.com</p>
  </div>
  <div class="modal-footer">
    <form class="form-inline">
      <label id="password-error"></label>
      <input id="password" type="password" class="input-large" placeholder="Serial Numbers">
      <a id="unlock" class="btn btn-primary">Unlock</a>
      <a onclick="$('#myModal').modal('hide')" class="btn">Trail</a>
    </form>
  </div>
</div>
